.research-section {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.research-container {
  display: flex;
  align-items: center;
  width: 45%;
  background-color: #fff;
  border: 2px solid #daa520;
  height: 50px;
  border-radius: 15px;
}

.magnifying-glass {
  color: #daa520;
  margin: 0 10px 0 10px;
}

.research-bar {
  background-color: inherit;
  font-size: 16px;
  border: none;
  border-radius: 15px;
  height: 90%;
  width: 98%;
  margin: 0 auto;
}

.research-bar::placeholder {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  color: #daa520c6;
  font-weight: bold;
}

.research-bar:focus {
  outline: none;
  background-color: none;
  color: #393939;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
}

.comics-images-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 100%;
  max-width: 1280px;
  margin: 0px auto;
  gap: 30px;
  position: relative;
}

.comics-images-block h2 {
  background-image: linear-gradient(185deg, #daa520, #f6cb60, #daa520, #f6cb60);
  color: #151515;
  min-height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comics-images-section {
  max-width: 30%;
  gap: 20px;
  border-radius: 5px;
  /* background-color: #151515; */
  margin-top: 100px;
  min-width: 382px;
}

.image-container {
  display: flex;
  justify-content: center;
}

.comics-images {
  max-height: 300px;

  object-fit: cover;
  /* border-bottom: 5px solid #ed171e; */
  object-fit: contain;
}

.comics-images:hover {
  animation-name: rotate;
  animation-duration: 0.7s;
  -ms-transform: rotate(1430deg) scale(2);
  -webkit-transform: rotate(1430deg) scale(2);
  transform: rotate(1430deg) scale(2);
  box-shadow: #151515;
  border: 1px solid #daa520;
  z-index: 1;
  /* position: relative; */
  max-width: 200px;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(1430deg) scale(2);
  }
}

.comics-description {
  background-color: #fff;
  border-left: 4px solid #ed171e;
  padding: 10px 10px;
  overflow: hidden;
  position: relative;
  transition: 2s;
}

.comics-description:hover {
  box-shadow: inset 382px 0 #ed171e;
  transition: 1.5s;
  color: #fff;
}

.favorite-comic {
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #e6dbdb;
}
