.characters-page {
  max-width: 1280px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(2px);
  margin: 0 auto;
}

/* ---------- */
/* RESEARCH BAR */
/* ---------- */
.characters-research-section {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.characters-research-container {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  width: 45%;
  background-color: #fff;
  border: 2px solid #ed171e;
  height: 50px;
  border-radius: 15px;
}

.characters-magnifying-glass {
  color: #ed171e;
  margin: 0 10px 0 10px;
}

.characters-research-bar {
  background-color: inherit;
  font-size: 16px;
  border: none;
  border-radius: 15px;
  height: 90%;
  width: 98%;
  margin: 0 auto;
}

.characters-research-bar::placeholder {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  color: #ed171ecd;
  font-weight: bold;
}

.characters-research-bar:focus {
  outline: none;
  background-color: none;
  color: #393939;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
}

/* ---------- */
/* PAGINATION */
/* ---------- */

.skip-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 10px;
  color: white;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.skip-input {
  border: inherit;
  border-bottom: 4px solid #ed171e;
  font-family: "Roboto Condensed" sans-serif;
  font-weight: 800;
  width: 48px;
  margin-left: 10px;
}

/* ---------- */
/* CHARACTERS SECTION */
/* ---------- */
.characters-images-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100%;
  max-width: 1280px;
  margin: 0px auto;
  gap: 30px;
}

.characters-images-section {
  max-width: 5%;
  gap: 20px;
  margin-top: 100px;
  min-width: 340px;
  overflow: hidden;
  position: relative;
  min-height: 100%;
  /* box-shadow: 10px 10px 10px black; */
}

.characters-images-section::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-top: 25px solid #393939;
  border-left: 25px solid white;
  box-shadow: -5px -5px 20px #393939;
}

.characters-images {
  max-height: 300px;
  min-width: 100%;
  object-fit: cover;
  /* transform: scale(1, 1, 1); */
  transition: all 1s linear;
  overflow: hidden;
  -o-object-position: top center;
  object-position: top center;
}

.characters-images:hover {
  margin: 0;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
  padding: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.characters-description-container {
  background-color: #151515;
  height: 100%;
  width: 100%;
  border-top: 4px solid #ed171e;
  padding: 5px 5px;
  overflow: hidden;
  position: relative;
  bottom: 2.5px;
  transition: 2s;
}
.characters-description-container:hover {
  box-shadow: inset 0 150px #ed171e;
  transition: 1.5s;
}

.characters-description {
  margin: 10px 10px;
  color: #fff;
}

.favorite {
  position: absolute;
  top: 50px;
  right: 30px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #e6dbdb;
}
