header {
  width: 100%;
  height: 72px;
  background-color: #151515;
  border-bottom: 0.5px solid #393939;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
  width: 100%;
  height: 70px;
  margin: 0 auto;
}

.logo-marvel {
  height: 70px;
  cursor: pointer;
}

.buttons-container {
  display: flex;
  gap: 10px;
}

.signup-login-container {
  display: flex;
  max-width: 100%;
}

.signup-icon,
.login-icon,
.logout-icon,
.favorites-icon {
  display: none;
}

.signup,
.login,
.logout,
.favorites {
  color: #fff;
  background-color: inherit;
  border: inherit;
  cursor: pointer;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px;
}

.signup:hover,
.login:hover,
.logout:hover,
.favorites:hover {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition: 0.5s;
}

.signup:active,
.login:active,
.logout:active,
.favorites:active {
  color: #ed171e;
}

@media (max-width: 820px) {
  .header-container {
    max-width: 90%;
  }

  header span {
    display: none;
  }

  .signup-login-container {
    display: flex;
    justify-content: space-between;
    width: 50px;
    margin-left: 30px;
  }

  .logout,
  .signup,
  .login,
  .favorites {
    display: none;
  }

  .signup-icon,
  .login-icon,
  .logout-icon,
  .favorites-icon {
    display: flex;
    color: #fff;
    background-color: inherit;
    border: inherit;
    cursor: pointer;
  }

  .signup-icon:hover,
  .login-icon:hover,
  .logout-icon:hover,
  .favorites-icon:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.5s;
  }

  .signup-icon:active,
  .login-icon:active,
  .logout-icon:active,
  .favorites-icon:active {
    color: #ed171e;
  }
} ;
