@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

body {
  font-family: "Roboto Condensed", sans-serif;
  width: 100vw;
  background-color: #fff;
}

h2 {
  text-align: center;
  background-color: #ed171e;
  color: #fff;
  font-weight: bolder;
  font-size: 30px;
}

.home-bcg {
  image-rendering: optimizeQuality;
}
